[Desktop Entry]
Version=1.0
Name=Donnatella
Categories=System;FileManager;FileTools;GTK
Exec=donnatella
Icon=file-manager
Type=Application
GenericName=File Manager
GenericName[cs]=Správce souborů
GenericName[de]=Dateiverwaltung
GenericName[el]=Διαχειριστής αρχείων
GenericName[es]=Gestor de archivos
GenericName[fr]=Gestionnaire de fichiers
GenericName[it]=Gestore File
GenericName[nl]=Bestandsbeheerder
GenericName[pl]=Menadżer plików 
GenericName[pt]=Gestor de ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ru]=Файловый менеджер SpaceFM
GenericName[sr]=Управљач датотека
GenericName[sr@latin]=Fajl menadžer
GenericName[sv]=Filhanterare
GenericName[zh_CN]=文件管理器
Comment=Browse the file system
Comment[cs]=Procházet systém souborů
Comment[de]=Im Dateisystem navigieren
Comment[el]=Περιήγηση του συστήματος αρχείων
Comment[es]=Explorar el sistema de archivos
Comment[fr]=Parcourir le système de fichiers
Comment[it]=Mostra il file system
Comment[nl]=Door bestandssysteem bladeren
Comment[pl]=Przeglądaj system plików
Comment[pt]=Explorar sistema de ficheiros
Comment[pt_BR]=Localizar o sistema de arquivos
Comment[ru]=Просмотр файловой системы
Comment[sr]=Разгледај систем датотека
Comment[sr@latin]=Pregledaj fajl sistem
Comment[sv]=Bläddra i filsystemet
Comment[zh_CN]=浏览文件系统
