.second-arrow { color: alpha(@fg_color,0.5); -GtkArrow-arrow-scaling: 0.6; }
DonnaTreeView row.minitree-unknown.expander { color: red; }
DonnaTreeView row.minitree-partial.expander { color: blue; }

DonnaTreeView.domain-config row:nth-child(odd) { background: #ffcd96; }
DonnaTreeView.domain-config row:nth-child(even) { background: #ffc882; }
DonnaTreeView.domain-config row.focused-row  { background: #ffb450; }
DonnaTreeView.domain-config row:focused  { background: #ffaa46; }
DonnaTreeView.domain-config row:selected  { background: @selected_bg_color; }

DonnaTreeView.domain-exec row:nth-child(odd) { background: #96cdff; }
DonnaTreeView.domain-exec row:nth-child(even) { background: #82c8ff; }
DonnaTreeView.domain-exec row.focused-row  { background: #50b4ff; }
DonnaTreeView.domain-exec row:focused  { background: #46aaff; }
DonnaTreeView.domain-exec row:selected  { background: @selected_bg_color; }

DonnaTreeView row.focused-row  { background: #BBB; }
DonnaTreeView row:focused  { background: #a0a0a0; }
DonnaTreeView row:selected  { background: @selected_bg_color; }

DonnaTreeView.select-row-underline row:selected { background: blue; }

.yellow { background: #ffc; }
boxed.focused-row.yellow { background: #ff6; }
.focused-row.yellow { background: #ff6; }
.focused-row.yellow:selected { background: @selected_bg_color; }
.focused-row.yellow:focused { background: #ff0; }
.focused-row.yellow.blue { background: blue; color: white; }
.focused-row.yellow.blue:selected { background: @selected_bg_color; color: @selected_fg_color; }
.focused-row.yellow highlighted.blue { background: blue; }
.focused-row.yellow highlighted.blue:selected { background: blue; }

.green { background: #cff; }
boxed.focused-row.green { background: #8ff; }
.focused-row.green { background: #8ff; }
.focused-row.green:selected { background: @selected_bg_color; }
.focused-row.green:focused { background: #0ff; }

DonnaTreeView { -DonnaTreeView-highlighted-size: 4; }
.blue { background: blue; color: white; }
.blue:selected { color: @selected_fg_color; }
.focused-row.blue { background: blue; color: white; }
.focused-row.blue:selected { background: @selected_bg_color; color: @selected_fg_color; }
highlighted.blue:selected { background: blue; }
highlighted.blue.focused-row:selected { background: blue; }

.title { font-size: 12px; font-weight: bold; }
.details { padding-top: 4px; padding-bottom: 6px; }
